@import './normalize';
@import './miligram';

// $primary-color: #188367;

$primary-color: #37A67D;

body{
    font-family: 'Baloo Chettan 2', cursive !important;
}
a
{
    cursor: pointer;
}
.banner {
    top: 0;
    height: 300px;
    background: $primary-color;

    position: absolute;
    left: 0;
    width: 100%;

    &:before {
        content: "";
        position: absolute;
        right: 12%;
        bottom: 0;
        width: 256px;
        height: 200px;
        background: $primary-color;
        background-image: radial-gradient(hsla(0,0%,100%,.2) 15%,transparent 0),radial-gradient(hsla(0,0%,100%,.2) 15%,transparent 0);
        background-size: 25px 25px;
    }
}
.header{
    margin: 50px auto 0;
    width: 80%;
    max-width: 940px;
    // display: flex;
    color: #fff;
    h3,h2{
        margin: 0.2em 0;
    }
    p{
        opacity:0.8;
    }
    a{
        color: inherit;
        position: relative;
        &:hover,&:active,&:focus{
            color: inherit;
        }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     height: 30%;
        //     width: 110%;
        //     background-color: rgba(255, 255, 255, 0.6);
        //     left: 0;
        //     top: 63%;
        //     z-index: -1;
        // }
    }
    
}

.container--right
{
    background-color: #383838;
    border-radius: 2px;
    padding: 10px 20px;
    h4,h5,p,a{
        margin:0; 
        font-weight: 400;
        color: #fff;
    }
    h4,h5,p{ 
        color: #fff;
    }
    a{
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 2px;
        border-bottom: thin dotted #fff;
        transition:all 0.3s;
        &:hover{
            border-bottom: thin solid #fff;

        }
    }
    .ace-actions
    {
        display: flex;
        // justify-content: space-between;
        justify-content: flex-end;
        align-items: center;
        color: #fff;
        padding: 10px 10px 15px;
    }
}

.container-right--contents
{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.container-main {
    margin: 60px auto 50px;
    width: 80%;
    max-width: 940px;
    z-index: 99;

    display: flex;
    box-shadow: 0 2px 6px 1px rgba(74,74,74,.08);
    border-radius: 10px;
    padding: 30px 20px;
    background: #fff;
    position: relative;
    z-index: 99;

    h4{
        color: #222;
    }
}

.css-list-item.active{
    background-color:#efefef;
    span{
        background-color:#fff;
    }
}
.css-list-item
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: thin solid #efefef;
    // margin: 5px 0 10px;
    padding: 15px 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s; 
    &:last-child{
        border-bottom: thin solid transparent;
    }
    &:hover{
        background-color:#efefef;
    }
    p{
        margin:0;
    }
    span.chat{
        background-color:$primary-color;
        color: #fff;

    }
    span{
        background-color:#efefef;
        text-align: center;
        border-radius: 5px;
        padding: 0em 0.5em; 
        font-size:12px;
        font-weight: 500;
        min-width: 75px;
    }
}

.ace-wrapper
{
    padding-left: 0 10px;
}

#css-aceeditor
{
    width: 100% !important;
}




@keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
  
    100% {
      background-position: 468px 0
    }
  }
  
  $ss-color--env: #F5F5F5;
  $ss-color--border: #EDEDED;
  
  @mixin animated_skeleton_bg($height: 20px, $width:auto) {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: $ss-color--env;
    background: linear-gradient(to right, $ss-color--env 8%, $ss-color--border 18%, $ss-color--env 33%);
    background-size: 800px 104px;
    height: $height;
    border-radius: 6px;
  
    @if $width {
      width: $width;
    }
  
    position: relative;
  }

  .loader-container
  {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  .css-list-item--loader{
    @include animated_skeleton_bg(40px,100%);   
    margin: 10px 0;
  }


  #footer {
    padding: 10px 0 0; 
    margin: 75px auto 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 940px;
    p {
        font-weight: 300;
        font-size: 14px;
        opacity: 0.4;
    }
}